In [1]:
from pyspark import SparkContext

In [2]:
sc = SparkContext('local')

In [3]:
dt = [(1,2),(3,4),(5,6),(1,7),(3,4)]
nRdd = sc.parallelize(dt)
nRdd.collect()

[(1, 2), (3, 4), (5, 6), (1, 7), (3, 4)]

In [4]:
newRdd = nRdd.reduceByKey(lambda a,b: a+b) #transformation함수 (*reduce: action함수)
newRdd.collect()                           #첫 번째 동일한 key에 대한 두 번째 key의 합

[(1, 9), (3, 8), (5, 6)]

In [5]:
newRdd1 = nRdd.flatMap(lambda v:v)
newRdd1.collect()

[1, 2, 3, 4, 5, 6, 1, 7, 3, 4]

In [6]:
newRdd2 = nRdd.flatMap(lambda v:v).map(lambda v: (v, 1))
newRdd2.collect()

[(1, 1),
 (2, 1),
 (3, 1),
 (4, 1),
 (5, 1),
 (6, 1),
 (1, 1),
 (7, 1),
 (3, 1),
 (4, 1)]

In [7]:
d = newRdd2.countByKey() #action함수, 첫 번째 key 기준 카운트해 딕셔너리 반환
d

defaultdict(int, {1: 2, 2: 1, 3: 2, 4: 2, 5: 1, 6: 1, 7: 1})

In [9]:
newRdd2.sortByKey().collect() #transformation함수

[(1, 1),
 (1, 1),
 (2, 1),
 (3, 1),
 (3, 1),
 (4, 1),
 (4, 1),
 (5, 1),
 (6, 1),
 (7, 1)]

In [10]:
newRdd2.sortByKey(ascending=False).collect()

[(7, 1),
 (6, 1),
 (5, 1),
 (4, 1),
 (4, 1),
 (3, 1),
 (3, 1),
 (2, 1),
 (1, 1),
 (1, 1)]

In [12]:
nRdd.sortBy(lambda v:v[1]).collect() #[0] : key순, [1] : 값순

[(1, 2), (3, 4), (3, 4), (5, 6), (1, 7)]

In [13]:
txtRdd = sc.textFile('data/aa.txt')
txtRdd.collect()

['나는 자랑스런', '태극기 앞에', '조국과 태극기', '몸과 나는']

#### 각 글자(공백 기준) 갯수 구하기

In [22]:
d = txtRdd.flatMap(lambda v: v.split(' ')).map(lambda v: (v,1)).countByKey()
d

defaultdict(int, {'나는': 2, '자랑스런': 1, '태극기': 2, '앞에': 1, '조국과': 1, '몸과': 1})

In [23]:
sc.stop()