In [9]:
from numpy import dot
from numpy.linalg import norm
import numpy as np
import math
import pandas as pd

In [2]:
def cos_sim(A, B):
       return dot(A, B)/(norm(A)*norm(B))

In [3]:
s1= '저는 사과 좋아요'
s2= '저는 오렌지 좋아요'
s3= '저는 오렌지 좋아요 저는 오렌지 좋아요'

In [4]:
voc = ['오렌지', '사과','저는','좋아요']

In [5]:
doc1=np.array([0,1,1,1])
doc2=np.array([1,0,1,1])
doc3=np.array([2,0,2,2])

In [6]:
cos_sim(doc1, doc2)

0.6666666666666667

In [7]:
cos_sim(doc1, doc3)

0.6666666666666667

In [8]:
cos_sim(doc2, doc3)

1.0000000000000002

In [10]:
df = pd.DataFrame(data = [doc1, doc2, doc3], columns=voc)
df

   오렌지  사과  저는  좋아요
0    0   1   1    1
1    1   0   1    1
2    2   0   2    2

In [11]:
from sklearn.metrics.pairwise import cosine_similarity

In [12]:
cosine_similarity(df, df)

array([[1.        , 0.66666667, 0.66666667],
       [0.66666667, 1.        , 1.        ],
       [0.66666667, 1.        , 1.        ]])